In [20]:
import json

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

sns.set(
    rc={
        "axes.labelsize": 12,
        "axes.titlesize": 16,
        "figure.figsize": (10, 7.5),
        "figure.dpi": 200,
        "figure.edgecolor": "k",
        "figure.facecolor": "w",
    }
)

In [21]:
df_18 = pd.read_feather("2018.ft")
df_22 = pd.read_feather("2022.ft")

df = df_18.merge(df_22, on="county")

In [22]:
df

,county,sen_18_huffmang,sen_18_jamesj,sen_18_squierm,sen_18_stabenowd,sen_18_wilhelmj,sen_18_total,sen_18_huffmang_pct,sen_18_jamesj_pct,sen_18_squierm_pct,...,prop2_22_no,prop2_22_total,prop2_22_yes_pct,prop2_22_no_pct,prop3_22_total2,prop3_22_yes,prop3_22_no,prop3_22_total,prop3_22_yes_pct,prop3_22_no_pct
0,Alcona,47,3541,44,1915,8,5555,0.008461,0.637444,0.007921,...,3093,5851,0.471372,0.528628,5891,2477,3414,5891,0.420472,0.579528
1,Alger,34,2162,36,1911,19,4162,0.008169,0.519462,0.008650,...,1881,4201,0.552249,0.447751,4230,2165,2065,4230,0.511820,0.488180
2,Allegan,340,29834,478,18890,220,49762,0.006833,0.599534,0.009606,...,29925,55756,0.463286,0.536714,56299,23909,32390,56299,0.424679,0.575321
3,Alpena,96,7380,126,5412,68,13082,0.007338,0.564134,0.009632,...,6748,13685,0.506905,0.493095,13855,6115,7740,13855,0.441357,0.558643
4,Antrim,108,7629,117,4953,59,12866,0.008394,0.592958,0.009094,...,7151,13723,0.478904,0.521096,13848,6501,7347,13848,0.469454,0.530546
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,Tuscola,214,13495,225,8197,129,22260,0.009614,0.606244,0.010108,...,13378,23500,0.430723,0.569277,23687,9084,14603,23687,0.383501,0.616499
79,Van Buren,319,15379,360,13191,194,29443,0.010834,0.522331,0.012227,...,13163,31102,0.576780,0.423220,31416,16697,14719,31416,0.531481,0.468519
80,Washtenaw,556,47380,1582,123305,403,173226,0.003210,0.273516,0.009133,...,40203,176968,0.772823,0.227177,179208,136354,42854,179208,0.760870,0.239130
81,Wayne,4083,190884,5731,455176,2517,658391,0.006201,0.289925,0.008705,...,177603,617091,0.712193,0.287807,629761,429882,199879,629761,0.682611,0.317389
82,Wexford,154,8745,148,4832,104,13983,0.011013,0.625402,0.010584,...,7845,14767,0.468748,0.531252,14883,6227,8656,14883,0.418397,0.581603

In [23]:
df["gov_22_vs_18_diff"] = df["gov_22_total"] - df["gov_18_total"]
df["gov_22_vs_18_ratio"] = np.round(df["gov_22_total"] / df["gov_18_total"], 4)

In [24]:
cols = [
    "county",
    "gov_18_total",
    "gov_22_total",
    "gov_22_vs_18_diff",
    "gov_22_vs_18_ratio",
]

In [ ]:
l = df["gov_22_vs_18_ratio"] < 1
df[l][cols]

In [25]:
l = df["gov_22_vs_18_diff"] < 0
df[l][cols]

,county,gov_18_total,gov_22_total,gov_22_vs_18_diff,gov_22_vs_18_ratio
15,Cheboygan,12555,12365,-190,0.9849
26,Gogebic,6507,6466,-41,0.9937
32,Ingham,119230,119066,-164,0.9986
39,Kalkaska,8357,7817,-540,0.9354
47,Luce,2420,2366,-54,0.9777
81,Wayne,659854,645124,-14730,0.9777

In [26]:
l = df["gov_22_vs_18_diff"] > 10000

In [27]:
df[l][cols].sort_values(by="gov_22_vs_18_diff", ascending=False)

,county,gov_18_total,gov_22_total,gov_22_vs_18_diff,gov_22_vs_18_ratio
49,Macomb,360226,384541,24315,1.0675
62,Oakland,605264,629374,24110,1.0398
40,Kent,280288,299095,18807,1.0671
69,Ottawa,128587,146407,17820,1.1386
46,Livingston,97577,108833,11256,1.1154

In [29]:
l = df["gov_22_vs_18_ratio"] > 1.12
df[l][cols].sort_values(by="gov_22_vs_18_ratio", ascending=False)

,county,gov_18_total,gov_22_total,gov_22_vs_18_diff,gov_22_vs_18_ratio
2,Allegan,49853,57341,7488,1.1502
73,Sanilac,16402,18804,2402,1.1464
7,Barry,26857,30697,3840,1.1430
33,Ionia,23830,27205,3375,1.1416
69,Ottawa,128587,146407,17820,1.1386
56,Missaukee,6566,7448,882,1.1343
58,Montcalm,23357,26395,3038,1.1301

In [32]:
df.columns

Index(['county', 'sen_18_huffmang', 'sen_18_jamesj', 'sen_18_squierm',
       'sen_18_stabenowd', 'sen_18_wilhelmj', 'sen_18_total',
       'sen_18_huffmang_pct', 'sen_18_jamesj_pct', 'sen_18_squierm_pct',
       'sen_18_stabenowd_pct', 'sen_18_wilhelmj_pct', 'gov_18_butkovichk',
       'gov_18_gelineaub', 'gov_18_kurlandj', 'gov_18_schleigert',
       'gov_18_schuetteb', 'gov_18_whitmerg', 'gov_18_total',
       'gov_18_butkovichk_pct', 'gov_18_gelineaub_pct', 'gov_18_kurlandj_pct',
       'gov_18_schleigert_pct', 'gov_18_schuetteb_pct', 'gov_18_whitmerg_pct',
       'ag_18_gioial', 'ag_18_gravelinec', 'ag_18_leonardt', 'ag_18_nesseld',
       'ag_18_van_sickleg', 'ag_18_total', 'ag_18_gioial_pct',
       'ag_18_gravelinec_pct', 'ag_18_leonardt_pct', 'ag_18_nesseld_pct',
       'ag_18_van_sickleg_pct', 'gov_22_total2', 'gov_22_whitmer',
       'gov_22_dixon', 'gov_22_buzuma', 'gov_22_brandenburg', 'gov_22_hogan',
       'gov_22_simpson', 'gov_22_total', 'gov_22_whitmer_pct',
       'gov_22_dixon_pct', 'gov_22_buzuma_pct', 'gov_22_brandenburg_pct',
       'gov_22_hogan_pct', 'gov_22_simpson_pct', 'sos_22_total2',
       'sos_22_benson', 'sos_22_karamo', 'sos_22_stempfle', 'sos_22_schwartz',
       'sos_22_hutchinson', 'sos_22_total', 'sos_22_benson_pct',
       'sos_22_karamo_pct', 'sos_22_stempfle_pct', 'sos_22_schwartz_pct',
       'sos_22_hutchinson_pct', 'ag_22_total2', 'ag_22_nessel',
       'ag_22_deperno', 'ag_22_mchugh', 'ag_22_van_sickle', 'ag_22_total',
       'ag_22_nessel_pct', 'ag_22_deperno_pct', 'ag_22_mchugh_pct',
       'ag_22_van_sickle_pct', 'prop1_22_total2', 'prop1_22_yes',
       'prop1_22_no', 'prop1_22_total', 'prop1_22_yes_pct', 'prop1_22_no_pct',
       'prop2_22_total2', 'prop2_22_yes', 'prop2_22_no', 'prop2_22_total',
       'prop2_22_yes_pct', 'prop2_22_no_pct', 'prop3_22_total2',
       'prop3_22_yes', 'prop3_22_no', 'prop3_22_total', 'prop3_22_yes_pct',
       'prop3_22_no_pct', 'gov_22_vs_18_diff', 'gov_22_vs_18_ratio'],
      dtype='object')

In [34]:
l = df["county"] == "Ottawa"

cols = [
    "county",
    "gov_18_whitmerg",
    "gov_22_whitmer",
    "gov_18_whitmerg_pct",
    "gov_22_whitmer_pct",
    "prop3_22_yes_pct",
]

df[l][cols]

,county,gov_18_whitmerg,gov_22_whitmer,gov_18_whitmerg_pct,gov_22_whitmer_pct,prop3_22_yes_pct
69,Ottawa,47380,58939,0.368466,0.40257,0.410683

In [42]:
df["gov_18_vs_22_pct_gains"] = np.round(
    df["gov_22_whitmer_pct"] - df["gov_18_whitmerg_pct"], 4
)

In [45]:
cols = [
    "county",
    "gov_18_whitmerg",
    "gov_22_whitmer",
    "gov_18_whitmerg_pct",
    "gov_22_whitmer_pct",
    "gov_18_vs_22_pct_gains",
]
l = df["gov_18_vs_22_pct_gains"] > 0.04
df[l].sort_values(by="gov_18_vs_22_pct_gains")[cols]

,county,gov_18_whitmerg,gov_22_whitmer,gov_18_whitmerg_pct,gov_22_whitmer_pct,gov_18_vs_22_pct_gains
14,Charlevoix,5720,6728,0.418220,0.458654,0.0404
44,Leelanau,7264,8540,0.511477,0.551893,0.0404
9,Benzie,4551,5443,0.464720,0.509406,0.0447
41,Keweenaw,571,666,0.433891,0.479137,0.0452
27,Grand Traverse,23220,27396,0.475810,0.523814,0.0480
23,Emmet,7788,9285,0.435546,0.483720,0.0482
55,Midland,16238,19497,0.421711,0.472953,0.0512

In [ ]:
df["nessel_ratio"] = np.round(df["ag_22_nessel"] / df["ag_18_pct_nesseld"], 2)
df["nessel_margin"] = np.round(df["ag_22_pct_nessel"] - df["ag_18_pct_nesseld"], 2)

In [ ]:
l = df["nessel_ratio"] < 0.95
cols = [
    "county",
    "ag_18_nesseld",
    "ag_22_nessel",
    "ag_18_pct_nesseld",
    "ag_22_pct_nessel",
    "nessel_ratio",
    "nessel_margin",
]

In [ ]:
df[l][cols].sort_values(by="nessel_margin")

In [ ]:
l = df["nessel_margin"] > 0.08

In [ ]:
df[l][cols].sort_values(by="nessel_margin")

In [ ]:
5261 / 0.537935

In [ ]:
df.plot(x="gov_18_pct_whitmerg", y="gov_22_pct_whitmer", kind="scatter")
plt.plot([0.3, 0.75], [0.3, 0.75], color="red")
plt.title("2022 Whitmer vs 2018 Whitmer Support")
plt.ylabel("2022 Whitmer (%)")
plt.xlabel("2018 Whitmer (%)")